body {
    box-sizing: border-box;
    background: rgba(87, 93, 236, 0.76);
  }

.arrow{
	position: absolute;
    bottom: 3%;
    left: 3%;
	width: 100%;
}

.dev-name{
	position: absolute;
    text-align: center;
  bottom: 0;
	width: 100%;
}

.app-name{
    font-family: 'Montserrat';
    text-align: center;
    color: #ffffff;
  }